/* .logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter";
}

.logout__button{
    min-width: 300px;
    
}
.user__name {
    color: rgba(209, 10, 86, 0.315)
}
.login {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter";
}
.login-form{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter";
}
.login-form > h1{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-family: "Inter";
}
.login-form > input{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-family: "Inter";
} */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure the padding is included in the element's total width */
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #2980b9;
  }
  
  